* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

main {
    background-color: white;
    text-align: center;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

p {
    font-size: 18px;
}

a {
    display: inline-block;
    background-color: #008000;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #006400;
}

@media(max-width: 600px) {
    main {
        width: 90%;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 15px;
    }
}